@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.iPadPro-container {
  min-block-size: var(--size);
  background-image: url(../products/ipad_pro.jpeg);
  background-image: -webkit-image-set(url(../products/ipad_pro.jpeg) 1x, url(../products/ipad_pro_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.iPadAir-container {
  min-block-size: var(--size);
  background-image: url(../products/ipad_air.jpeg);
  background-image: -webkit-image-set(url(../products/ipad_air.jpeg) 1x, url(../products/ipad_air_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.iPhone15Pro-container {
  min-block-size: var(--size);
  background-image: url(../products/iphone15_pro.jpeg);
  background-image: -webkit-image-set(url(../products/iphone15_pro.jpeg) 1x, url(../products/iphone15_pro_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.iPhone15-container {
  min-block-size: var(--size);
  background-image: url(../products/iphone15.jpeg);
  background-image: -webkit-image-set(url(../products/iphone15.jpeg) 1x, url(../products/iphone15_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.watch-container {
  min-block-size: var(--size);
  background-image: url(../products/apple_watch.jpeg);
  background-image: -webkit-image-set(url(../products/apple_watch.jpeg) 1x, url(../products/apple_watch_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.MacBookAir-container {
  min-block-size: var(--size);
  background-image: url(../products/macbook_air.jpeg);
  background-image: -webkit-image-set(url(../products/macbook_air.jpeg) 1x, url(../products/macbook_air_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.airPodsPro-container {
  min-block-size: var(--size);
  background-image: url(../products/airpods_pro.jpeg);
  background-image: -webkit-image-set(url(../products/airpods_pro.jpeg) 1x, url(../products/airpods_pro_2x.jpeg) 2x);
  background-size: cover;
  background-position: center;
}

.item-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  padding-top: 40px;
  color: var(--white);
  gap: var(--small-spacing);
}

.item-title {
  font-size: var(--large-text);
  font-weight: 900;
}

.item-desc-01 {
  font-size: var(--base-font-size);
  font-weight: 700;
  display: grid;
  justify-items: center;
  gap: 8px;
}

.item-desc-02 {
  color: var(--gray);
  font-size: var(--base-font-size);
}

.more-set {
  display: inline-block;
}
